---
layout: default
---
{%- assign date_format = site.minima.date_format | default: "%Y年%m月%-d日" -%}
<div class="post-container">
<a class="post-link" href="{{ page.url | relative_url }}">
	<h1 class="post-title">{{ page.title | escape }}</h1>
</a>
<div class="post-meta">
	<ul class="post-categories">
		{%- for tag in page.categories -%}
		<li>{{ tag }}</li>
		{%- endfor -%}
	</ul>
	<div class="post-date"><i class="icon-calendar"></i>{{ page.date | date: date_format }}</div>
</div>
<div class="post">
	{{ content }}
</div>
{%- if site.plainwhite.disqus_shortname -%}
<div id="disqus_thread" style="margin-top:120px"></div>
  <script>
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
     /*
     var disqus_config = function () {
     this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
     this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
     };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = 'https://blog-danroo-com.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
{%- endif -%}